/* Add your home page styles here */
body {
    background: url('../food_background.jpg') no-repeat center center fixed;
    background-size: cover;
}
header {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
}
.logo {
    height: 50px;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
}
